
.grid-layout{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 95vh;
    gap:0.2vh;
}




header{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

header>h1{
    font-variant:small-caps;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

